<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <h4>Edit Employee</h4>
            </div>
            <div class="bg-table" style="padding: 10px;">
                <form [formGroup]="editEmp" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee Name</label>
                                <input type="text" class="form-control" placeholder="Emp Name" formControlName="empname" class="form-control" [ngClass]="{ 'is-invalid': submitted && addemp.empname.errors }">
                                <div *ngIf="submitted && addemp.empname.errors" class="req-message">
                                    <div *ngIf="addemp.empname.errors.required">Employee Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department</label>
                                <select formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && addemp.department.errors }">
                            <option>Department</option>
                            <option value="IT">IT</option>
                            <option value="HR">HR</option>
                        </select>
                                <div *ngIf="submitted && addemp.department.errors" class="req-message">
                                    <div *ngIf="addemp.department.errors.required">Department is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="phone" class="form-control" placeholder="Phonenumber" formControlName="phonenumber" [ngClass]="{ 'is-invalid': submitted && addemp.phonenumber.errors }">
                                <div *ngIf="submitted && addemp.phonenumber.errors" class="req-message">
                                    <div *ngIf="addemp.phonenumber.errors.required">Phone Number is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="radio">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="male" value="male" name="gander" formControlName="gander" [ngClass]="{ 'is-invalid': submitted && addemp.gander.errors }">
                                        <label class="custom-control-label" for="male">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="female" value="female" name="gander" checked formControlName="gander" [ngClass]="{ 'is-invalid': submitted && addemp.gander.errors }">
                                        <label class="custom-control-label" for="female">Female</label>
                                    </div>
                                </div>
                                <div *ngIf="submitted && addemp.gander.errors" class="req-message">
                                    <div *ngIf="addemp.gander.errors.required">Gander is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" placeholder="Address" name="address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && addemp.address.errors }">
                        </textarea>
                                <div *ngIf="submitted && addemp.address.errors" class="req-message">
                                    <div *ngIf="addemp.address.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Work Type</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="worktype" value="wfh" id="wfh" formControlName="worktype" [ngClass]="{ 'is-invalid': submitted && addemp.worktype.errors }" checked>
                                    <label class="form-check-label" for="wfh">
                              WFH
                            </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="worktype" value="office" id="office" formControlName="worktype" [ngClass]="{ 'is-invalid': submitted && addemp.worktype.errors }">
                                    <label class="form-check-label" for="office">
                              Office
                            </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="worktype" value="others" id="others" formControlName="worktype" [ngClass]="{ 'is-invalid': submitted && addemp.worktype.errors }">
                                    <label class="form-check-label" for="others">
                              Others
                            </label>
                                </div>
                                <div *ngIf="submitted && addemp.worktype.errors" class="req-message">
                                    <div *ngIf="addemp.worktype.errors.required">Work Type is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="edit" class="btn float-right login_btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>