<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <h4>Add Empolyee Details</h4>
            </div>
            <div class="bg-table" style="padding: 10px;">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Phone Number</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Work Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of emp">
                                <td>{{ e.empname }}</td>
                                <td>{{ e.department }}</td>
                                <td>{{ e.phonenumber }}</td>
                                <td>{{ e.gander }}</td>
                                <td>{{ e.address }}</td>
                                <td>{{ e.worktype }}</td>
                                <td><a [routerLink]="['/edit-emp', e._id]" class="btn btn-info" style="margin-right:5px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <button (click)="deleteRow(e)" class="btn-space btn btn-danger "><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>